<!DOCTYPE html>
<html>
  <head>
    <title>Subtitles Learner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <script src="javascripts/subtitles.js"></script>
    <script src="javascripts/pair.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
      html {
        height: 100%;
      }

      body {
        text-align: center;
        height: 100%;
      }

      #header {
        height: 100px;
      }

      .content {
        background: inherit;
        display: table;
        width :100%;
        height: calc(100% - 200px);
        vertical-align: middle;
      }

      #sub-display-1 {
        font-size: 2em;
      }

      #sub-display-2 {
        font-size: 1.5em;
      }

      .content > span {
        display: table-cell;
        vertical-align: middle;
      }

      .nav-buttons {
        top: 150px;
        position: absolute;
        width: 50%;
        height: calc(100% - 100px);
      }

      #time-wrapper {
        display: inline-block;
        position: relative;
        z-index: 1;
      }

      #nav-button-right {
        left: 50%;
      }

    </style>
  </head>
  <body>
    <div id="header">
      <br>
      <div class="text-center" style="display: inline-block">
        <form class="form-inline">
			<% for (let i = 1; i <= 2; i++) { %>
          <div class="form-group">
            <select class="form-control" id="sub-filename-<%= i %>">
				<% for (var subName of subsList) { %>
              <option value="<%= subName %>"><%= subName %></option>
				<% } %>
            </select>
          </div>
			<% } %>
          <div class="form-group">
            <a class="btn btn-link form-control" id="btn-fullscreen">Fullscreen</a>
          </div>
        </form>
      </div>

    </div>

    <div class="content">
      <div class="nav-buttons"></div>
      <div class="nav-buttons" id="nav-button-right"></div>

      <span>
        <p id="time-wrapper">
          <a href="javascript:void(0);" id="btn-home">⇤</a>
          <span id="time"></span>
          <a href="javascript:void(0);" id="btn-end">⇥</a>
        </p>
        <br>
        <h1 id="sub-display-1"></h1>
        <br>
        <br>
        <h2 id="sub-display-2"></h2>
      </span>
    </div>
  </body>

  <script>
    const sub1 = new Subtitles(1);
    const sub2 = new Subtitles(2);
    const pair = new Pair(sub1, sub2);

    (async () => {
      const [phraseIndex, subFilename1, subFilename2] = await Promise.all([
        api('get', '/storage/get', {key: 'current-phrase-index'}),
        api('get', '/storage/get', {key: 'subs-name-1'}),
        api('get', '/storage/get', {key: 'subs-name-2'})
      ]);

      if (subFilename1) {
        sub1.filenameEl.val(subFilename1);
      }

      if (subFilename2) {
        sub2.filenameEl.val(subFilename2);
      }

      await pair.init();

      if (phraseIndex) {
        pair.gotoPhrase(phraseIndex, {byUser: false});
      }
    })();

    $('.nav-buttons:first').on('mousedown touchstart', e => {
      e.stopPropagation();
      e.preventDefault();
      pair.prevPhrase();
    });

    $('.nav-buttons:last').on('mousedown touchstart', e => {
      e.stopPropagation();
      e.preventDefault();
      pair.nextPhrase();
    });

    $('#btn-fullscreen').on('click', () => toggleFullScreen());
    $('#btn-home').on('click', () => pair.gotoPhrase(0));
    $('#btn-end').on('click', () => pair.gotoPhrase(pair.length - 1));

    $(document).on('keydown', async e => {
      switch (e.keyCode) {
        case 0x20: // space
        case 0x27: // right
          pair.nextPhrase();
          break;

        case 0x25: // left
          pair.prevPhrase();
          break;

        case 35: // end
          pair.gotoPhrase(pair.length - 1);
          break;

        case 36: // home
          pair.gotoPhrase(0);
          break;
      }
    });

    function toggleFullScreen() {
      var elem = $('.content')[0];

      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.msRequestFullscreen) {
        elem.msRequestFullscreen();
      } else if (elem.mozRequestFullScreen) {
        elem.mozRequestFullScreen();
      } else if (elem.webkitRequestFullscreen) {
        elem.webkitRequestFullscreen();
      }
    }
  </script>
</html>
